html{
  font-family:Helvetica, sans-serif;
}

h1{
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("./images/pattern.jpeg");
}

h2{
  font-family:Helvetica;
  font-size: 32px;
  font-weight: bold;
  color:white;
}

h2.brushes{
  background-color: mediumspringgreen;
}

h2.frames{
  background-color: lightcoral;
}

h2.paint{
  background-color: skyblue;
}

strong{
  font-family: helvetica;
  font-weight: bold;
  color:blue;

}
